.main{
    background-color: black;
    display: flex;
    color: white;
    height: 100vh;
}
.firstBox{
    /* border: solid 1pt gray; */
    width: 25%;
    height: 4cm;
}
.secoundBox{
    border-left: solid 0.1pt rgba(128, 128, 128, 0.203);
    
    width: 35%;
    
}
.thirdBox{
    border-left: solid 0.5pt rgba(167, 159, 159, 0.203);
    width: 40%;
}
.buy{
    background-color: blue;
    height: 1.4cm;
    width: 7cm;
    margin-top: 1cm;
    border-radius: 0.3cm;
    margin-right: 2cm;
}

.inbox{
    margin-right: 8cm;
    margin-top: 0.5cm;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.me{
    display: flex;
    height: 1cm;
    width: 8cm;
    
}
.circle1{
background-color: red;
margin-left: 0.1cm;
height: 0.4cm;
width: 0.2cm;
border-radius: 100cm;
margin-top: 0.4cm;
}
.circle2{
    background-color: rgb(242, 255, 0);
    margin-left: 0.2cm;
    height: 0.3cm;
    border: solid 2pt red;
    width: 0.3cm;
    border-radius: 100cm;
    margin-bottom: 900cm;
    margin-top: 0.4cm;
    }
.circle3{
background-color: rgb(30, 255, 0);
margin-left: 0.2cm;
height: 0.3cm;
width: 0.3cm;
border-radius: 100cm;
border: solid 2pt red;
margin-top: 0.4cm;
}
.main1{
    background-color: red;
    height: 1cm;
    width: 1cm;
}
.none{
    display:table-row;
}
.sent1{
    width: 8cm;
    margin-right: 1cm;
    background-color:black;
    color: white;
    height: 1cm;

}
.sent1:hover{
        background-color: rgba(0, 0, 0, 0.257);
    }
.inb{
    margin-top: 0.7cm;
    width: 8cm;
    margin-right: 1cm;
    background-color:black;
    color: white;
    height: 1cm;
    border-radius: 0.3cm;
}
.inb:hover{
    height: 1cm;
    background-color:rgba(245, 222, 179, 0.145);
}
.Starred{
    width: 8cm;
    margin-right: 1cm;
    background-color:black;
    color: white;
    height: 1cm;
    border-radius: 0.3cm;
}
.Starred:hover{
    height: 1cm;
    background-color:rgba(245, 222, 179, 0.145);
}
.Archive{
    width: 8cm;
    margin-right: 1cm;
    background-color:black;
    color: white;
    border-radius: 0.3cm;
    height: 1cm;
}
.Archive:hover{
    height: 1cm;
    background-color:rgba(245, 222, 179, 0.145);
}
.Delete{
    width: 8cm;
    margin-right: 2cm;
    background-color:rgba(0, 0, 0, 0.846);
    color: white;
    height: 1cm;
    border-radius: 0.3cm;
}
.Delete:hover{
    height: 1cm;
    background-color:rgba(245, 222, 179, 0.145);
}
.Draft{
    width: 8cm;
    margin-right: 1cm;
    background-color:rgba(0, 0, 0, 0.825);
    color: white;
    border-radius: 0.3cm;
}
    .Draft:hover{
        height: 1cm;
        background-color:rgba(245, 222, 179, 0.145);
    }
.test{
        margin-right:5cm ;
    
    }
    .down{
        height: 5cm;
        background-color: black;
        border-top: solid 0.5pt rgba(128, 128, 128, 0.203);
    }
    .dot{
        background-color: rgba(247, 239, 239, 0.427);
        height: 0.8cm;
        border-radius: 0.2cm;
        width: 8cm;
        margin-top: 1cm;
        margin-right: 1cm;
        color: whitesmoke;
        
    }
    .dot2{
        background-color: rgba(230, 215, 215, 0.365);
        color: white;
        height: 0.9cm;
        margin-right: -0cm;
        border-radius: 0.2cm;

    }
    .j{
        margin-right: 5cm;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .down2{
        border-top:solid 0.5pt rgba(128, 128, 128, 0.203);
        height: 4cm;
        margin-top: 1cm;
    }
    .j2{
        margin-right: 4cm;
    }
    .down3{
        border-top:solid 0.5pt rgba(128, 128, 128, 0.203);
        margin-top: 2cm;
    }
    .number{
        margin-right: 6cm;
        margin-top: -0.5cm;
    }